@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h4>Are you sure you want to delete this?</h4>
<br>

<p>Engineer Name: @Html.DisplayFor(model => model.EngineerName)</p>

@using (Html.BeginForm())
{
  <br> 
  <input type="submit" value="Delete" class="btn btn-light"/>
}

<br>
<p class="btn btn-light">@Html.ActionLink("Back to List", "Index")</p>