@{
  Layout = "_Layout";
}

<h1>Welcome to Dr. Sillystringz Factory!</h1>


<p class="btn btn-lg btn-block">@Html.ActionLink("See All Machines", "Index", "Machines")</p>
<p class="btn btn-lg btn-block">@Html.ActionLink("See All Engineers", "Index", "Engineers")</p>