@{
  Layout = "_Layout";
}

<span>Welcome to Dr. Sillystringz Factory!</span> 



<p class="btn btn-light btn-lg btn-block">@Html.ActionLink("See All Machines", "Index", "Machines")</p>
<p class="btn btn-light btn-lg btn-block">@Html.ActionLink("See All Engineers", "Index", "Engineers")</p>