@{
  Layout = "_Layout";
}

<span>Welcome to Dr. Sillystringz Factory!</span> 

<br>

<p class="btn btn-light btn-lg btn-block">@Html.ActionLink("See All Machines", "Index", "Machines", null, new { @class = "text" })</p>
<p class="btn btn-light btn-lg btn-block">@Html.ActionLink("See All Engineers", "Index", "Engineers", null, new { @class = "text" })</p>